<!DOCTYPE html>
<html>
  <head>
    <title>Furima30939</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# ブラウザでアプリケーションを開いたときに、payjp.jpが読み込まれる %>
    <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
    <%# /ブラウザでアプリケーションを開いたときに、payjp.jpが読み込まれる %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
